.col-3 {
  background-color: aliceblue;
  text-align: center;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}
.enchant0{background-color: whitesmoke}
.enchant1{background-color: olivedrab}
.enchant2{background-color: aqua}
.enchant3{background-color: orangered;}

/** LOADER CSS **/ 
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/** LOADER CSS **/ 

/** REGEAR CSS **/ 

.img_logo{
  max-width: 64px;;
}
.undertext{
  color:grey;
  font-size: smaller;
}

.regear-sub-container{
  /*border:solid #000 1px ;
  background-color: red;*/
  max-width: 260px;min-height: 75px;
  /*width: 100px;  
  height: 100px; */
  margin: auto;  
}
.colum{
  flex: 33,333%;
  max-width: 100px;
}
.regear_container_result{
  display :flex;
  max-width:680px;
  flex-wrap:wrap;
  flex-direction: row;
  align-content:space-around;
}
/*.recent_price{color: green;}
.old_price{color: red;}*/
/** REGEAR CSS **/